* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bogota', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}




@font-face {
    font-family: 'Bogota';
    src: url(fonts/Bogota.ttf) formato(truetype);
    font-weight: normal;
}
 
.pt-170 {
    padding-top: 170px;
  } 

 header{
    height: 60px;
 }




.imagem-div {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 52px;
    right: 200px;
}



.containerr {
    position: relative;
    text-align: center;


}

.texto {
    justify-content: center;
    align-items: center;
}


/* Definir a formatação das áreas semânticas */



body {
    font-family: 'Bogota', Arial, Helvetica, sans-serif;
    background-color: #E9967A;

}


main {
    display: flex;
    height: calc(100vh - 100px);
    max-height: none;
    background-color: #E9967A;
    overflow-y:auto;



}



div h1 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.246);
}


div q {
    display: block;
    font-weight: bold;
}

div p {
    font-weight: bold;
    display: block;
}


footer {
    background-color: #343a40;
    text-align: center;
    /* height: 25px; */
   
   
}

footer p {
    color: white;

}
