* {
    margin: 0px;
    padding: 0px;
}

.titulo{
    margin:auto;
    padding: 10px 10px 10px 10px;
}

main{
    display: block;
    overflow-y: auto;
}

main button{
    margin-bottom: 10px;
  
}

