* {
    margin: 0px;
    padding: 0px;
}

.titulo{
    margin:auto;
    padding: 10px 10px 10px 10px;
}

main{
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
}

main input{
    margin-bottom: 3px ;
}

main button{
    margin-bottom: 2px;
}


